# Python / Compiled / Optimized
*.py[cod]

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Eclipse IDE
.project
.pydevproject

# Mac directory info
.DS_Store

# libpandadna
*.dna
*.pdna

# Interrogate db files
*.in
src/*_igate.cxx
src/*_module.cxx
